$text-color-grey: #414141;
$text-color-white: #f3f3f3;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex(
  $flex-direction: row,
  $align-item: center,
  $justify-content: center,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}
@mixin centerAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playlist-container {
  .playlist-header {
    @include size(auto, 34rem);
    background-image: linear-gradient(to bottom, #525252, #2a2a2a);
    position: relative;
    &__music-icon,
    &__edit-icon {
      position: absolute;
      z-index: 2;
      color: $text-color-white;
      @include centerAbsolute();
      font-size: 6rem;
      transition: all 0.1s ease-out;
    }
    &__edit-icon {
      opacity: 0;
      visibility: hidden;
    }
    &__thumb-img {
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      @include size(23rem, 23rem);
      background-color: #282828;
      overflow: hidden;
      box-shadow: 0 0 3rem 2px rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;
      img {
        width: 100%;
        object-fit: cover;
      }
      &:hover .playlist-header__thumb-overlay,
      &:hover .playlist-header__edit-icon {
        opacity: 1;
        visibility: visible;
      }
    }
    &__detail {
      display: flex;
    }
    &__thumb-overlay {
      transition: all 0.1s ease-out;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.8);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    &__content {
      position: absolute;
      bottom: 8rem;
      left: 28rem;
      color: $text-color-white;
    }
    &__name {
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
    }
    &__author {
      position: relative;
      cursor: pointer;
      margin-right: 3rem;
      &::after {
        content: "";
        @include size(1rem, 1rem);
        border-radius: 50%;
        position: absolute;
        background-color: $text-color-white;
        right: -2rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .empty-wrapper {
    position: relative;
    height: 45rem;
  }
  .playlist-content {
    background-color: #131313;
    height: 100%;
    position: relative;
    padding: 3rem;
    padding-bottom: 15rem;

    .playlist-list {
      margin-top: 6.5rem;
      margin-bottom: 2rem;
      color: $text-color-white;
      width: 100%;
      color: #979797;
      font-size: 1.4rem;
      .playlist-item--active {
        td:nth-child(1),
        td:nth-child(2) {
          color: #1cb854;
        }
      }
      tbody {
        th {
          border-bottom: 0.5px solid rgba(250, 248, 248, 0.452);
          padding: 0.3rem 0.5rem;
          text-transform: uppercase;
          font-weight: 400;
        }
        tr {
          padding: 1.5rem 2rem;
          text-align: left;
          border-radius: 1rem;
          &:not(:first-child):hover {
            background-color: #282828;
          }
          &:not(:first-child) {
            cursor: pointer;
          }
          td {
            // color: red;
            padding: 1.5rem 0.5rem;
          }
        }
        tr,
        th {
          text-align: left;
        }
      }
    }
    .play-btn {
      cursor: pointer;
      color: $text-color-white;
      @include size(5rem, 5rem);
      z-index: 5;

      background-color: #1cb854;
      position: absolute;
      font-size: 3rem;
      top: 2rem;
      left: 3rem;
      border-radius: 50%;
      &__icon {
        position: absolute;
        font-size: 2rem;
        @include centerAbsolute();
        left: 57%;
      }
    }
    .dots {
      z-index: 5;
      color: $text-color-white;
      position: absolute;
      cursor: pointer;
      font-size: 3rem;
      top: 2rem;
      left: 10rem;
    }
    .empty-alert {
      color: $text-color-white;

      position: absolute;
      top: 30%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(-50%);
      &__disc {
        font-size: 6rem;
      }
      &__info {
        font-size: 3rem;
        margin: 1.5rem;
      }
      &__recommend {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
    }
    .recommend-song {
      color: $text-color-white;
      &__caption {
        color: #979797;
        font-size: 1.4rem;
      }
      &__list {
        list-style-type: none;
        margin-top: 2rem;
      }
      &__item {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        cursor: pointer;
        transition: all 0.1s linear;
        border-radius: 0.5rem;
        &:hover {
          background-color: #282828;
        }
      }
      &__left {
        display: flex;
        margin-right: auto;
        font-size: 1.4rem;
      }
      .recommend-add-btn {
        padding: 0.8rem 2rem;
        margin-left: auto;
        background-color: transparent;
        color: white;
        font-size: 1.4rem;
        border: 1px solid #fff;
        &:hover {
          transform: scale(1.05);
        }
      }
      &__thumb {
        margin-right: 1rem;
        @include size(4rem, 4rem);
      }
      &__author {
        color: #979797;
      }
    }
  }
}
