.playlist-container .playlist-header {
  width: auto;
  height: 34rem;
  background-image: linear-gradient(to bottom, #525252, #2a2a2a);
  position: relative;
}
.playlist-container .playlist-header__music-icon, .playlist-container .playlist-header__edit-icon {
  position: absolute;
  z-index: 2;
  color: #f3f3f3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  transition: all 0.1s ease-out;
}
.playlist-container .playlist-header__edit-icon {
  opacity: 0;
  visibility: hidden;
}
.playlist-container .playlist-header__thumb-img {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  width: 23rem;
  height: 23rem;
  background-color: #282828;
  overflow: hidden;
  box-shadow: 0 0 3rem 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.playlist-container .playlist-header__thumb-img img {
  width: 100%;
  object-fit: cover;
}
.playlist-container .playlist-header__thumb-img:hover .playlist-header__thumb-overlay, .playlist-container .playlist-header__thumb-img:hover .playlist-header__edit-icon {
  opacity: 1;
  visibility: visible;
}
.playlist-container .playlist-header__detail {
  display: flex;
}
.playlist-container .playlist-header__thumb-overlay {
  transition: all 0.1s ease-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.playlist-container .playlist-header__content {
  position: absolute;
  bottom: 8rem;
  left: 28rem;
  color: #f3f3f3;
}
.playlist-container .playlist-header__name {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.playlist-container .playlist-header__author {
  position: relative;
  cursor: pointer;
  margin-right: 3rem;
}
.playlist-container .playlist-header__author::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: #f3f3f3;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
}
.playlist-container .empty-wrapper {
  position: relative;
  height: 45rem;
}
.playlist-container .playlist-content {
  background-color: #131313;
  height: 100%;
  position: relative;
  padding: 3rem;
  padding-bottom: 15rem;
}
.playlist-container .playlist-content .playlist-list {
  margin-top: 6.5rem;
  margin-bottom: 2rem;
  color: #f3f3f3;
  width: 100%;
  color: #979797;
  font-size: 1.4rem;
}
.playlist-container .playlist-content .playlist-list .playlist-item--active td:nth-child(1),
.playlist-container .playlist-content .playlist-list .playlist-item--active td:nth-child(2) {
  color: #1cb854;
}
.playlist-container .playlist-content .playlist-list tbody th {
  border-bottom: 0.5px solid rgba(250, 248, 248, 0.452);
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.playlist-container .playlist-content .playlist-list tbody tr {
  padding: 1.5rem 2rem;
  text-align: left;
  border-radius: 1rem;
}
.playlist-container .playlist-content .playlist-list tbody tr:not(:first-child):hover {
  background-color: #282828;
}
.playlist-container .playlist-content .playlist-list tbody tr:not(:first-child) {
  cursor: pointer;
}
.playlist-container .playlist-content .playlist-list tbody tr td {
  padding: 1.5rem 0.5rem;
}
.playlist-container .playlist-content .playlist-list tbody tr,
.playlist-container .playlist-content .playlist-list tbody th {
  text-align: left;
}
.playlist-container .playlist-content .play-btn {
  cursor: pointer;
  color: #f3f3f3;
  width: 5rem;
  height: 5rem;
  z-index: 5;
  background-color: #1cb854;
  position: absolute;
  font-size: 3rem;
  top: 2rem;
  left: 3rem;
  border-radius: 50%;
}
.playlist-container .playlist-content .play-btn__icon {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 57%;
}
.playlist-container .playlist-content .dots {
  z-index: 5;
  color: #f3f3f3;
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  top: 2rem;
  left: 10rem;
}
.playlist-container .playlist-content .empty-alert {
  color: #f3f3f3;
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}
.playlist-container .playlist-content .empty-alert__disc {
  font-size: 6rem;
}
.playlist-container .playlist-content .empty-alert__info {
  font-size: 3rem;
  margin: 1.5rem;
}
.playlist-container .playlist-content .empty-alert__recommend {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.playlist-container .playlist-content .recommend-song {
  color: #f3f3f3;
}
.playlist-container .playlist-content .recommend-song__caption {
  color: #979797;
  font-size: 1.4rem;
}
.playlist-container .playlist-content .recommend-song__list {
  list-style-type: none;
  margin-top: 2rem;
}
.playlist-container .playlist-content .recommend-song__item {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 0.1s linear;
  border-radius: 0.5rem;
}
.playlist-container .playlist-content .recommend-song__item:hover {
  background-color: #282828;
}
.playlist-container .playlist-content .recommend-song__left {
  display: flex;
  margin-right: auto;
  font-size: 1.4rem;
}
.playlist-container .playlist-content .recommend-song .recommend-add-btn {
  padding: 0.8rem 2rem;
  margin-left: auto;
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  border: 1px solid #fff;
}
.playlist-container .playlist-content .recommend-song .recommend-add-btn:hover {
  transform: scale(1.05);
}
.playlist-container .playlist-content .recommend-song__thumb {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}
.playlist-container .playlist-content .recommend-song__author {
  color: #979797;
}

/*# sourceMappingURL=playlist.css.map */
