@import "bootstrap.min.css";
$text-color-grey: #414141;
$text-color-white: #f3f3f3;

@mixin centerAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flex(
  $flex-direction: row,
  $align-item: center,
  $justify-content: center,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins";
  height: 100vh;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins";
  height: 100vh;
}
.side-menu {
  background-color: #000;
  color: #979797;
  align-self: stretch;
  padding: 2rem 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 16.66666667%;
  bottom: 0;

  &__logo {
    width: 60%;
    object-fit: cover;
    margin-bottom: 2rem;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    padding: 8px 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    i,
    svg {
      margin-right: 0.8rem;
    }
    transition: 0.3s linear;
    &:hover {
      color: $text-color-white;
    }
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }
    &--active {
      color: $text-color-white;
      background-color: #282828;
    }
  }
  &__playlist {
    margin: 1.5rem 0px;
    padding: 0px 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(238, 238, 238, 0.356);
    &__list {
    }
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 1rem;
      transition: 0.3s linear;
      i {
        margin-right: 0.8rem;
      }
      &:hover {
        color: $text-color-white;
        filter: brightness(1.5);
      }
    }
    &__thumbnail {
      position: relative;
      margin-right: 1rem;
      @include size(3rem, 3rem);
      @include flex();
      i {
        margin-right: 0px;
      }
      &:after {
        content: "";
        @include size(100%, 100%);

        background-color: #b2b2b2;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
      }
      &--gradient {
        &:after {
          background-image: linear-gradient(to right, #4429a7, #819a99);
        }
      }
    }
  }
  &__heading {
    color: $text-color-white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .my-playlist {
    padding: 0rem 1.5rem;

    width: fit-content;
    list-style-type: none;
    &__item {
      transition: 0.4s linear;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:hover {
        color: $text-color-white;
      }
      &--active {
        color: $text-color-white;
      }
    }
  }
}
.main {
  padding: 0rem 0px;
  &__header {
    position: fixed;
    top: 0;
    left: 16.66667%;
    width: 80%;
    max-height: 4rem;
    padding: 3.5rem 2.5rem;
    z-index: 2;
    @include flex(row, center, space-between, nowrap);
    .navigator-btn-group {
      .navigator-btn {
        text-align: center;
        outline: none;
        border: none;
        @include size(4rem, 4rem);
        border-radius: 50%;
        background-color: #282828;
        color: $text-color-white;
      }
    }
    .profile-dropdown {
      @include size(auto, 4rem);
      @include flex();
      font-size: 1.6rem;
      padding: 0.1rem 1rem 0.1rem 0.3rem;
      background-color: #282828;
      border-radius: 1.8rem;
      color: $text-color-white;
      &__avatar {
        @include size(4rem, 4rem);

        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
      &__name {
        font-weight: 600;
        margin: 0 1rem;
      }
    }
    .dropdown-wrapper {
      position: relative;
      cursor: pointer;
      &:hover {
        .profile-dropdown-content {
          opacity: 1;
          visibility: visible;
        }
      }
      &:after {
        content: "";
        width: 100%;
        height: 2rem;
        background-color: transparent;
      }
      .profile-dropdown-content {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        background-color: #282828;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem 0.4px rgba(0, 0, 0, 0.3);
        padding: 0.4rem 0.4rem;
        list-style-type: none;
        color: $text-color-white;
        font-size: 1.4rem;

        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        li {
          cursor: pointer;
          padding: 1rem 0.5rem;
          &:hover {
            background-color: #3e3e3e;
          }

          &:last-child {
            border-top: 1px solid #404040;
          }
        }
      }
    }
  }
}
.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  background-color: #282828;
  &-wrapper {
    position: relative;
    height: 100%;
  }
  &__controller {
    position: absolute;
    @include centerAbsolute();
    width: 60rem;
    text-align: center;
    z-index: 15;
    color: #b3b3b3;
    font-size: 2.5rem;
    i {
      cursor: pointer;
    }
    i:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    input {
      width: 100%;
    }
    &-time {
      font-size: 1.4rem;
      &:first-child {
        margin-right: 1rem;
      }
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: #535353; /* Otherwise white in Chrome */
  border-radius: 1rem;
  height: 0.6rem;
}
input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.btn {
  color: black;
  outline: none;
  border: none;
  border-radius: 1.8rem;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@import "playlist.css";
.container-fluid,
.main,
.playlist-container {
  padding: 0;
  height: auto;
}

.modals {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  color: $text-color-white;
  transition: all 0.2s ease-out;
  &__content {
    position: absolute;
    @include size(53rem, auto);
    z-index: 100;
    @include centerAbsolute();
    background-color: #282828;
    border-radius: 1rem;
    padding: 3rem 2rem;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 89;
    &::after {
      content: "";
      @include size(2.8rem, 2.8rem);
      border-radius: 50%;
      background-color: rgba($color: #979797, $alpha: 0.2);
      color: #979797;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 88;
      transform: translate(-50%, -50%);
    }
  }
  &__form {
    margin-top: 1.5rem;
    display: flex;
    .modals__thumb {
      width: calc(40% - 0.4rem);
      margin-right: 0.4rem;
      position: relative;
      align-self: start;
      cursor: pointer;
      box-shadow: 0 0 3rem 2px rgba($color: #000000, $alpha: 0.5);

      &-img {
        width: 100%;
        object-fit: cover;
      }
      &__edit-icon {
        position: absolute;
        z-index: 2;
        color: $text-color-white;
        @include centerAbsolute();
        font-size: 6rem;
        transition: all 0.1s ease-out;
        opacity: 0;
        visibility: hidden;
      }

      &:hover .modals__thumb__thumb-overlay,
      &:hover .modals__thumb__edit-icon {
        opacity: 1;
        visibility: visible;
      }

      &__thumb-overlay {
        transition: all 0.1s ease-out;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.8);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }
    .modals__input {
      margin-left: 0.4rem;
      width: calc(60% - 0.4rem);
    }
  }
  &-edit-save {
    margin: 1rem 0px;
    float: right;
  }
  &__alert {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.form-input-group {
  margin-bottom: 0.4rem;
  width: 100%;
}
.form-textarea {
  height: calc(100% - 4rem);
}
.form-input,
.form-textarea {
  font-size: 1.4rem;
  outline: none;
  border: none;
  background-color: #3e3e3e;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.show {
  visibility: visible;
  opacity: 1;
}
