@import "bootstrap.min.css";
@import "playlist.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins";
  height: 100vh;
}

body {
  font-size: 1.8rem;
  font-family: "Poppins";
  height: 100vh;
}

.side-menu {
  background-color: #000;
  color: #979797;
  align-self: stretch;
  padding: 2rem 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 16.66666667%;
  bottom: 0;
}
.side-menu__logo {
  width: 60%;
  object-fit: cover;
  margin-bottom: 2rem;
}
.side-menu__list {
  list-style-type: none;
}
.side-menu__item {
  padding: 8px 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s linear;
}
.side-menu__item i,
.side-menu__item svg {
  margin-right: 0.8rem;
}
.side-menu__item:hover {
  color: #f3f3f3;
}
.side-menu__item:not(:last-child) {
  margin-bottom: 0.3rem;
}
.side-menu__item--active {
  color: #f3f3f3;
  background-color: #282828;
}
.side-menu__playlist {
  margin: 1.5rem 0px;
  padding: 0px 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.356);
}
.side-menu__playlist__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.3s linear;
}
.side-menu__playlist__item i {
  margin-right: 0.8rem;
}
.side-menu__playlist__item:hover {
  color: #f3f3f3;
  filter: brightness(1.5);
}
.side-menu__playlist__thumbnail {
  position: relative;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.side-menu__playlist__thumbnail i {
  margin-right: 0px;
}
.side-menu__playlist__thumbnail:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b2b2b2;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.side-menu__playlist__thumbnail--gradient:after {
  background-image: linear-gradient(to right, #4429a7, #819a99);
}
.side-menu__heading {
  color: #f3f3f3;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.side-menu .my-playlist {
  padding: 0rem 1.5rem;
  width: fit-content;
  list-style-type: none;
}
.side-menu .my-playlist__item {
  transition: 0.4s linear;
  cursor: pointer;
}
.side-menu .my-playlist__item:not(:last-child) {
  margin-bottom: 1rem;
}
.side-menu .my-playlist__item:hover {
  color: #f3f3f3;
}
.side-menu .my-playlist__item--active {
  color: #f3f3f3;
}

.main {
  padding: 0rem 0px;
}
.main__header {
  position: fixed;
  top: 0;
  left: 16.66667%;
  width: 80%;
  max-height: 4rem;
  padding: 3.5rem 2.5rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.main__header .navigator-btn-group .navigator-btn {
  text-align: center;
  outline: none;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #282828;
  color: #f3f3f3;
}
.main__header .profile-dropdown {
  width: auto;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  padding: 0.1rem 1rem 0.1rem 0.3rem;
  background-color: #282828;
  border-radius: 1.8rem;
  color: #f3f3f3;
}
.main__header .profile-dropdown__avatar {
  width: 4rem;
  height: 4rem;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.main__header .profile-dropdown__name {
  font-weight: 600;
  margin: 0 1rem;
}
.main__header .dropdown-wrapper {
  position: relative;
  cursor: pointer;
}
.main__header .dropdown-wrapper:hover .profile-dropdown-content {
  opacity: 1;
  visibility: visible;
}
.main__header .dropdown-wrapper:after {
  content: "";
  width: 100%;
  height: 2rem;
  background-color: transparent;
}
.main__header .dropdown-wrapper .profile-dropdown-content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  background-color: #282828;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.4px rgba(0, 0, 0, 0.3);
  padding: 0.4rem 0.4rem;
  list-style-type: none;
  color: #f3f3f3;
  font-size: 1.4rem;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
}
.main__header .dropdown-wrapper .profile-dropdown-content li {
  cursor: pointer;
  padding: 1rem 0.5rem;
}
.main__header .dropdown-wrapper .profile-dropdown-content li:hover {
  background-color: #3e3e3e;
}
.main__header .dropdown-wrapper .profile-dropdown-content li:last-child {
  border-top: 1px solid #404040;
}

.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  background-color: #282828;
}
.player-wrapper {
  position: relative;
  height: 100%;
}
.player__controller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  text-align: center;
  z-index: 15;
  color: #b3b3b3;
  font-size: 2.5rem;
}
.player__controller i {
  cursor: pointer;
}
.player__controller i:not(:last-child) {
  margin-right: 2rem;
}
.player__slider {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.player__slider input {
  width: 100%;
}
.player__slider-time {
  font-size: 1.4rem;
}
.player__slider-time:first-child {
  margin-right: 1rem;
}
.player__slider-time:last-child {
  margin-left: 1rem;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: #535353;
  /* Otherwise white in Chrome */
  border-radius: 1rem;
  height: 0.6rem;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

.btn {
  color: black;
  outline: none;
  border: none;
  border-radius: 1.8rem;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.container-fluid,
.main,
.playlist-container {
  padding: 0;
  height: auto;
}

.modals {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3f3f3;
  transition: all 0.2s ease-out;
}
.modals__content {
  position: absolute;
  width: 53rem;
  height: auto;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282828;
  border-radius: 1rem;
  padding: 3rem 2rem;
}
.modals__close {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 89;
}
.modals__close::after {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: rgba(151, 151, 151, 0.2);
  color: #979797;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 88;
  transform: translate(-50%, -50%);
}
.modals__form {
  margin-top: 1.5rem;
  display: flex;
}
.modals__form .modals__thumb {
  width: calc(40% - 0.4rem);
  margin-right: 0.4rem;
  position: relative;
  align-self: start;
  cursor: pointer;
  box-shadow: 0 0 3rem 2px rgba(0, 0, 0, 0.5);
}
.modals__form .modals__thumb-img {
  width: 100%;
  object-fit: cover;
}
.modals__form .modals__thumb__edit-icon {
  position: absolute;
  z-index: 2;
  color: #f3f3f3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  transition: all 0.1s ease-out;
  opacity: 0;
  visibility: hidden;
}
.modals__form .modals__thumb:hover .modals__thumb__thumb-overlay, .modals__form .modals__thumb:hover .modals__thumb__edit-icon {
  opacity: 1;
  visibility: visible;
}
.modals__form .modals__thumb__thumb-overlay {
  transition: all 0.1s ease-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.modals__form .modals__input {
  margin-left: 0.4rem;
  width: calc(60% - 0.4rem);
}
.modals-edit-save {
  margin: 1rem 0px;
  float: right;
}
.modals__alert {
  font-size: 1.2rem;
  font-weight: 500;
}

.form-input-group {
  margin-bottom: 0.4rem;
  width: 100%;
}

.form-textarea {
  height: calc(100% - 4rem);
}

.form-input,
.form-textarea {
  font-size: 1.4rem;
  outline: none;
  border: none;
  background-color: #3e3e3e;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
.show {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
